@import "~bootstrap/dist/css/bootstrap.css";

@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";

@import "~icheck/skins/square/blue.css";

@import "_helpers";

.login-page,
.register-page {
	.auth-links {
		margin-top: 10px;
	}
}

.logout-form {
	display: none;
}

.destroy-form {
	display: inline;
}

.table {
	thead {
		.id {
			width: 90px;
		}
		.actions {
			width: 190px;
		}
	}
}

.box {
	&.box-purple{
		border-top-color: #605ca8;
	}
}
