@import "~bootstrap/dist/css/bootstrap.css";

@import "~admin-lte/dist/css/AdminLTE.css";
@import "~admin-lte/dist/css/skins/_all-skins.css";

@import "~icheck/skins/square/blue.css";

@import "~jquery-jsonview/dist/jquery.jsonview.css";

@import "colors";
@import "helpers";

.table {
	thead {
		.id {
			width: 90px;
		}

		.actions {
			width: 190px;
		}
	}
}

.box {
	&.box-purple {
		border-top-color: $color-purple;
	}
}

mark {
	background: $color-yellow;
	color: $color-black;
	padding: 0;
}

.radio-inline,
.checkbox-inline {
	padding-left: 0;
}
